<div class="container">
  <%= simple_form_for( [@consult, @soap] ) do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 ">
     <%= f.input :complaint, as: :select2, collection: [Disease.first.ciap_code], label: 'Queixa', multiple: false, include_hidden: false, input_html: { value: f.object } %>
   </div>
   <div class="col-xs-12 col-sm-6 ">
     <%= f.input :diagnosis, label: 'Diagnóstico' %>
   </div>
   <div class="col-xs-12 col-sm-6 ">
     <%= f.input :exams, as: :select2, collection: Soap::EXAMS_OPTIONS, label: 'Exames', multiple: true, include_hidden: false, input_html: { placeholder: 'Escolha um exame'} %>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <%= f.input :referring, as: :select2, collection: Soap::REFERRING_OPTIONS, label: 'Conduta', multiple: true, include_hidden: false %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
        <%= f.button :submit, 'Salvar', class: 'btn btn-success', id: 'large_btn'  %>
      </div>
    </div>
      <% end %>
  </div>
</div>
