<div class="container">
  <%= simple_form_for( [@consult, @soap] ) do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 ">
     <%= f.input :complaint, label: 'Queixa' %>
   </div>
   <div class="col-xs-12 col-sm-6 ">
     <%= f.input :diagnosis, label: 'Diagnóstico' %>
   </div>
   <div class="col-xs-12 col-sm-6 ">
     <%= f.input :exams, as: :check_boxes, collection: Soap::EXAMS_OPTIONS, label: 'Exames' %>
    </div>
    <div class="col-xs-12 col-sm-6 ">
      <%= f.input :referring, as: :check_boxes, collection: Soap::REFERRING_OPTIONS, label: 'Conduta' %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
        <%= f.button :submit, 'Salvar', class: 'btn btn-success', id: 'large_btn'  %>
      </div>
    </div>
      <% end %>
  </div>
</div>
