<div class="container">
  <div class="form-title">
    <h3>Cadastro de um novo paciente</h3>
  </div>
<<<<<<< HEAD
    <div class="form-register-wrapper">
      <%= simple_form_for @patient do |f| %>
        <%= f.input :full_name, label: 'Nome Completo' %>
        <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                                      end_year: Date.today.year,
                                      order: [:day, :month, :year],
                                      label: 'Data de Nascimento' %>
        <%= f.input :gender, collection: Patient.genders.keys, label: 'Gênero' %>
        <%=  f.input :sus_number, label: 'Número cartão SUS' %>
        <%= f.input :address, label: 'Endereço' %>
        <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
      <% end %>
    </div>
=======
  <div class="form-register-wrapper">
        <%= simple_form_for @patient do |f| %>
          <%= f.input :full_name, label: 'Nome Completo' %>
          <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                                        end_year: Date.today.year,
                                        order: [:day, :month, :year],
                                        label: 'Data de Nascimento' %>
          <%= f.input :gender, collection: Patient.genders.keys, label: 'Gênero' %>
          <%= f.input :prontuario_number, label: 'Número do prontuário' %>
          <%= f.input :sus_number, label: 'Número cartão SUS' %>
          <%= f.input :address, label: 'Endereço' %>
          <%= f.submit "Cadastrar", class: 'btn btn-primary' %>
        <% end %>
  </div>
>>>>>>> d77d254754f03f8a1881127b2c9ad96719100636
</div>
