<div class="container">

  <div class="form-register-wrapper">
    <div class="form-title">
      <h3>Atualizar cadastro do paciente</h3>
    </div>
    <%= simple_form_for @patient do |f| %>
      <%= f.input :full_name, label: 'Nome Completo' %>
      <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                                    end_year: Date.today.year,
                                    order: [:day, :month, :year],
                                    label: 'Data de Nascimento' %>
      <%= f.input :gender, collection: Patient.genders.keys, label: 'Gênero' %>
      <%=  f.input :sus_number, label: 'Número cartão SUS' %>
      <%= f.input :address, label: 'Endereço' %>
      <%= f.submit "Salvar alterações", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      <% end %>
    <% end %>

  </div>

</div>



<script>
  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('patient_address'), { types: ['geocode'] });

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    // autocomplete.addListener('place_changed', fillInAddress);
  }
</script>

