<div class="banner_search" style="background-image: linear-gradient(-225deg, rgba(150,168,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('blue.jpg') %>');">
  <h1 align="left"> Input data once </h1>
  <h2 align="left"> Know the stats of people under your care </h2>
  <div class="container">
    <div class="form_patient">
      <%= form_tag patients_path, method: :get do %>
        <div class="search-patient">
          <%= text_field_tag 'term', params[:term], placeholder: " Nome do paciente ou Número SUS", class: "search_box"%>
          <i class="fa fa-search" aria-hidden="true"></i>
          <%= submit_tag 'Buscar', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <div class="row">
          <% @patients.each do |patient| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <div class="card-category"></div>
                  <div class="card-description">
                  <%= link_to patient_path(patient) do %>
                  <p><%= patient.full_name %></p>
                  <% unless patient.consults.last.soaps.empty? %>
                  <p><%= patient.age %></p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
