<div class="banner_search" style="background-image: linear-gradient(-225deg, rgba(150,168,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('blue.jpg') %>');">
  <h1 align="left"> Input data once </h1>
  <h2 align="left"> Know the stats of people under your care </h2>


 <div class="container">
   <div class="form_patient">
    <%= form_tag patients_path, method: :get do %>
    <%= text_field_tag 'term', params[:term], placeholder: " Nome do paciente ou número do SUS ..", class: "search_box" %>
    <%= submit_tag 'Buscar', class: "btn btn-primary" %>
    <% end %>
  </div>

      <div class="container">
        <div class="row">

          <% @patients.each do |patient| %>

            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('blue.jpg') %>');">
                <div class="card-category"><%= patient.gender %></div>
                  <div class="card-description">
                  <p><%= link_to patient.full_name, patient_path(patient), class: "card-link" %></p>
                  <p><%= patient.sus_number %></p>
                  </div>


              </div>
            </div>

          <% end %>

      </div>
    </div>
  </div>
</div>
