
<div class="container">
  <div class="form-title">
    <br>
    <h1><%= @patient.full_name %>, <%= @patient.age %> (<%= @patient.birthday.strftime("%d/%m/%Y") %>)</h1>
      <p>Prontuário: <%= @patient.prontuario_number %></p>
      <p>Número SUS: <%= @patient.sus_number %></p>
      <p>Endereço: <%= @patient.address %></p>
      <br>
      <%= link_to 'Nova Consulta', new_patient_consult_path(@patient), class:'btn btn-success' %>
      <%= link_to 'Editar Dados', edit_patient_path(@patient), class:'btn btn-success' %>
  </div>
  <div>
    <h4>Consultas realizadas:</h4>
    <ul>
      <% @patient.consults.sort_by { |c| c.consult_date }.reverse.each do |consult| %>
        <li>
          <div>
            <p>Data: <%= consult.consult_date.strftime("%d/%m/%Y") %></p>
            <p>Turno: <%= consult.turn %></p>
            <% pro = Professional.find(consult.professional_id) %>
            <p>Profissional: <%= pro.full_name %> (<%= pro.professional_number %>)</p>
            <%= link_to 'Editar Consulta', edit_patient_consult_path(consult), class:'btn btn-success' %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
