<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="form-title">
        <br>
        <h2>
          <%= @patient.full_name.titleize %>, <%= @patient.age %>
          <%= link_to edit_patient_path(@patient), class:'edit_link' do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        </h2>
        <p><strong>Data de Nascimento:</strong> <%= @patient.birthday.strftime("%d/%m/%Y") %> </p>
        <p><strong>Gênero:</strong> <%= @patient.gender  %></p>
        <p><strong>Prontuário:</strong> <%= @patient.prontuario_number %></p>
        <p><strong>Número SUS:</strong> <%= @patient.sus_number %></p>
        <p><strong>Endereço:</strong> <%= @patient.address %></p>
        <br>

        <div>
          <p><strong>Lista de problemas:</strong></p>

            <% @patient.patient_problems.map { |pp| "#{pp.disease.ciap_code} - #{pp.disease.formal_name}" }.each do |disease| %>
            <p><strong><%= disease[0,3] %></strong><%= disease[3,disease.length] %></p>
            <% end %>

        </div>

        <%= link_to 'Nova Consulta', patient_new_with_soap_path(@patient), class:'btn btn-success' %>
      </div>
    </div>

    <div class="row col-md-8">
      <br>
      <h2 style="text-align:center;">Consultas realizadas:</h2>
      <% @patient.consults.order(consult_date: :desc).each do |consult| %>
        <div class='cards-wraper'>
          <div class="col-xs-12">
            <div class="card-show">
              <div class="card-header">
                <div class="card-header-right-items">
                  <%= link_to consult_path(consult), method: :delete, data: {confirm: "Quer mesmo excluir essa consulta?"} do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to edit_consult_path(consult) do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>

                </div>
              </div>
              <h4>Data: <%= consult.consult_date.strftime('%d/%m/%Y')%></h4>
              <div class="card-body">
                <ul class="list-group">
                  <li>
                    <strong>Turno:</strong> <%= consult.turn %>
                  </li>
                  <% pro = Professional.find(consult.professional_id) %>
                  <li>
                    <strong>Profissional:</strong> <%= pro.full_name %> (<%= pro.professional_number %>)
                  </li>
                  <br>
                  <% consult.soaps.each do |soap| %>
                    <li><strong>S</strong>: <%= soap.complaint.ciap_and_description %></li>
                    <li><strong>A</strong>: <%= soap.diagnosis.ciap_and_description %></li>
                    <li><strong>Ex</strong>: <%= stringify(soap.exams) %></li>
                    <li><strong>CD</strong>: <%= stringify(soap.referring) %></li>
                    <br>
                    <a><%= link_to 'Editar SOAP', edit_consult_soap_path(soap.consult, soap), class: 'btn btn-success' %></a>
                  <% end %>
                  <br>
                </ul>
              </div>
            </div>
          </div>
          </div>
      <% end %>

    </div>
  </div>
</div>


