<h1><%= @patient.full_name %>, <%= @patient.age %> </h1>

<p>Prontuário: <%= @patient.prontuario_number %></p>
<p>Número SUS: <%= @patient.sus_number %></p>
<p>Endereço: <%= @patient.address %></p>


