<div class="container">
  <h2>Ficha de produção</h2>
  <h4>Data: <%= date_format(@date) %></h4>
  <div class="row">
    <% @consults.each do |c| %>
      <div class="col-xs-12">
        <div class="card-daily-report">
          <% p = c.patient %>
          <%= p.full_name %>, <% p.gender %>, <strong>Nascimento:</strong> <%= date_format(p.birthday) %> -- <strong>SUS: </strong><%= p.sus_number %> -- <strong>Prontuário:</strong> <%= p.prontuario_number %>
          <br>
          <strong>Local:</strong> <%= c.place %> -- <strong>Turno:</strong> <%= c.turn %> -- <strong>CNES Unidade:</strong> <%= c.unit_cnes %> -- <strong>Equipe:</strong> <%= c.team_number %>
          <br>
            <% complaints = [] %>
            <% diagnoses = [] %>
            <% exams = [] %>
            <% referring = [] %>
            <% c.soaps.each do |soap| %>
              <% complaints.push(soap.complaint) %>
              <% diagnoses.push(soap.diagnosis) %>
              <% exams.push(soap.exams) %>
              <% referring.push(soap.referring) %>
            <% end %>
          <strong>CIAP - S:</strong> <%= stringify(complaints) %>
          <br>
          <strong>CIAP - A:</strong> <%= stringify(diagnoses) %>
          <br>
          <strong>Exames solicitados:</strong> <%= stringify(exams) %>
          <br>
          <strong>Encaminhamentos:</strong> <%= stringify(referring) %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>
