<div class="container">
  <div class="form-title">
  <br>
   <h3>
      <%= link_to patient_path(@patient) do %>
        <%= @patient.full_name.capitalize %>, <%= @patient.age %>
      <% end %>
      <%= link_to edit_patient_path(@patient), class:'edit_link' do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
    </h3>
  </div>

  <p> Data: <%= date_format(@consult.consult_date) %></p>
  <p>
    <strong>Local:</strong> <%= @consult.place %> / <strong>CNES Unidade: </strong><%= @consult.unit_cnes %> / <strong>Número da equipe: </strong> <%= @consult.team_number %> / <strong>Turno:</strong> <%= @consult.turn %>
    <%= link_to edit_consult_path(@consult), class:'edit_link' do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </p>
  <br>

  <%= render 'soaps/form' %>
  <br>
  <div class="row">
    <% @soaps.each do |s| %>
      <div class="card-soap col-sm-4">
          <p>CIAP - S: <%= s.complaint %></p>
          <p>CIAP - A: <%= s.diagnosis %></p>
          <p>Ex: <%= stringify(s.exams) %></p>
          <p>CD: <%= stringify(s.referring) %></p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
      <% if @consult.soaps.count > 0 %>
        <%= link_to 'Encerrar', root_path, class:'btn btn-danger', id: 'large_btn_last' %>
      <% end %>
    </div>
  </div>
</div>

