<div class="container"
  <div class="form-title">
    <br>
      <h3><%= @patient.full_name.capitalize %>, <%= @patient.age %></h3>
        </div>
      <p> Data: <%= @consult.consult_date %></p>

      <%= render 'soaps/form' %>
      <br>
      <% @soaps.each do |s| %>
      <strong><p><%= s.complaint  %></p></strong>
      <ul>
        <li><%= s.diagnosis %></li>
        <li><%= s.exams.reject{|e| e.blank? }.to_sentence %></li>
        <li><%# s.refering %></li>
      </ul>
      <% end %>
  </div>
</div>
