
<div class="container">
  <div class="form-wrapper">
    <h3>Análise mensal - <%= month_format(@month) %></h3>
    <p>Selecione outro mês:</p>
    <%= form_tag reports_home_path, method: :get do %>
      <%= date_select nil, :month, selected: @month, discard_day: true, end_year: Date.current.year, start_year: Date.current.year - 3 %>
      <button type="submit" class="btn btn-primary">Buscar</button>
    <% end %>
  </div>
  <div class="row">
      <%= render "get_consults" %>
      <%= render "get_diagnosis" %>
  </div>
  <div class="row">
      <%= render "get_complaints" %>
      <%= render "get_exams" %>
  </div>
</div>

