<br>
<h3 style="text-align: center;">Distribuição Geográfica de Diagnóstico</h3>
<br>
<div class="form_search">
  <%= render 'search_form' %>
</div>

<div class="content">
  <div class="cards-container">
    <div class="wrapper-blue">
      <div class="card-wraper">
        <div class="row">
          <div style="overflow: auto; max-height: 700px;" class="col-xs-12 col-sm-3">
            <% @patients.each do |patient| %>
              <div class="col-xs-12">
                <div class="card-map" style="background-color: #DFEAE6; padding: 10px; box-shadow: 0 1px 2px; color: gray">
                 <div class="card-category"><%= patient.full_name.titleize %>, <%= patient.age %></div>
                  <div class="card-description">
                    <p></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div id="map" style="width: 100%; height: 600px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
